{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">Ecrit le {{ article.createdAt|date('d/m/y') }} à {{ article.createdAt|date('H:i') }} dans la catégorie Politique</div>
		<div class="content">
			<img alt="" src="{{ article.image }}">
			{{ article.content | raw }}
		</div>
	</article>
{% endblock %}